version: '3.4'

x-common-environment: &common-environment
  ENV: development
  ANALYTICS_MONGO_URL: "mongodb://mongo:27017"
  ANALYTICS_BROKER_REDIS_URL: "redis://analytics_redis:6379/0"
  CELERY_BROKER_REDIS_URL_AUTHORIZATION: "redis://celery_redis:6379/0"
  CELERY_BROKER_REDIS_URL_SCHEDULED: "redis://celery_redis:6379/0"
  CELERY_BROKER_REDIS_URL_OPERATIONAL_INFO: "redis://celery_redis:6379/0"

x-common-service: &common-service
  environment:
    <<: *common-environment
  depends_on:
    - mongo
    - analytics_redis
    - celery_redis

x-common-build: &common-build
  args:
    API_PORT: 5000
    SERVICE_DIR: immuni_analytics
  context: ../
  dockerfile: ./common/Dockerfile

services:
  api:
    <<: *common-service
    image: api
    ports:
      - "5000:5000"
    build:
      <<: *common-build
      target: api
  beat:
    <<: *common-service
    image: beat
    build:
      <<: *common-build
      target: beat
  worker_authorization:
    <<: *common-service
    environment:
      <<: *common-environment
      CELERY_APP_NAME: "authorization"
    image: worker
    build:
      <<: *common-build
      target: worker
  worker_scheduled:
    <<: *common-service
    environment:
      <<: *common-environment
      CELERY_APP_NAME: "scheduled"
    image: worker
    build:
      <<: *common-build
      target: worker
  mongo:
    image: mongo:4.0.18-xenial
    ports:
      - "27017:27017"
  analytics_redis:
    image: redis:5.0.9-alpine
  celery_redis:
    image: redis:5.0.9-alpine
